*.db
/.classpath
/.project
/tmp
*.class
/eclipse
/.settings
/lib
/precompiled

# From Play 2.x
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.cache
conf/evolutions
