#{extends 'layout.html' /}
#{set 'title'}New Issue#{/set}

<div class="row">
	<div class="card col-lg-8 col-offset-2 panel">
		<form method="POST" action="@{Issues.add}">
		  <legend>Add new issue</legend>
		  <div class="form-group">
		    <label for="inputTitle">Title</label>
			<input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title">
			<input type="hidden" name="projectId" value="${project.id}">
		  </div>

		  <div class="form-group">
		    <label for="inputDescription">Description</label>
			<textarea name="description" id="inputDescription" rows="5" class="form-control" placeholder="Description"></textarea>
		  </div>

		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn btn-primary">Create</button>
		    </div>
		  </div>
		  
		</form>
	</div>

</div>

