html{
  height:100%;
  background: #ffffff url('../img/cover.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', 'Iranian Sans';
}

body {
  padding-top: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  direction: ltr;
  text-align: left;
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="email"]::-webkit-input-placeholder { direction:rtl; text-align: right; }
.form-signin input[type="email"]::-moz-placeholder { direction:rtl; text-align: right; } /* firefox 19+ */
:-ms-input-placeholder { direction:rtl; text-align: right; } /* ie */
.form-signin input[type="email"]:-moz-placeholder { direction:rtl; text-align: right; }


.form-signin input[type="password"] {
  direction: ltr;
  text-align: left;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="password"]::-webkit-input-placeholder { direction:rtl; text-align: right; }
.form-signin input[type="password"]::-moz-placeholder { direction:rtl; text-align: right; } /* firefox 19+ */
:-ms-input-placeholder { direction:rtl; text-align: right; } /* ie */
.form-signin input[type="password"]:-moz-placeholder { direction:rtl; text-align: right; }
