/* Open Sans Font as 'Open Sans' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300);

html{
  height:100%;
  background: rgb(200,200,200) url('../img/bg.png') 0 0 repeat;
  font-family: 'Open Sans';
}

body {
  height: 100%;
  background: transparent;
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: 'Open Sans';
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: 'Open Sans';
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

#wrap > .container {
  padding-top:20px;
}

/* Custom page footer */
footer {
  padding-top: 19px;
  border-top: 0px;
  height: 60px;
  background-color: rgba(255,255,255,0.5);
}

footer > p {
  width: auto;
  text-align: center;
}

header.navbar {
  background-color: rgba(255,255,255,0.9);
  border: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

img.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.navbar-nav.nav > li.active > a {
  background-color: #ffffff;
  border-bottom: 3px solid rgba(0,0,0,0.75);
  font-weight:bold;
}

/* Turn off spinner on number inputs (Safari, ...) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
