@(project: Project, proposals: List[models.Ticket],todos: List[models.Ticket],workings: List[models.Ticket],dones: List[models.Ticket])


@main("Project Dashboard") {
    
    <div class="row panel">
        <div class="col-md-9">
            <h2>@project.title</h2>
            <p class="muted">@project.description</p>
        </div>
        <div class="col-md-3">
            Right
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
          <!-- column header -->
          <div class="row">
            <h2 class="text-center">Proposed</h2>
            <hr />
          </div>        
          <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#newTicketModal">
                    <i class="fa fa-plus"></i> New Ticket
                </a>
                <hr />
            </div>
          </div>
          @for(p <- proposals) {
          <!-- Tickets column -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>@p.title</h4>
                      <p class="text-muted">@p.description</p>
                  </div>
                  <div class="panel-footer">
                      <div class="text-right">
                          <a href="@routes.Tickets.move(p.id)" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                          <a href="@routes.Tickets.delete(p.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          }
        </div> <!-- /.col-md-3 -->
        
        
        <div class="col-md-3">
          <!-- column header -->
          <div class="row">
            <h2 class="text-center">To Do</h2>
            <hr />
          </div>        

          @for(p <- todos) {
          <!-- Tickets column -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>@p.title</h4>
                      <p class="text-muted">@p.description</p>
                  </div>
                  <div class="panel-footer">
                      <div class="text-right">
                          <a href="@routes.Tickets.move(p.id)" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                          <a href="@routes.Tickets.delete(p.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          }
        </div> <!-- /.col-md-3 -->
        
        
        <div class="col-md-3">
          <!-- column header -->
          <div class="row">
            <h2 class="text-center">In Progress</h2>
            <hr />
          </div>        

          @for(p <- workings) {
          <!-- Tickets column -->
          <div class="row">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>@p.title</h4>
                      <p class="text-muted">@p.description</p>
                  </div>
                  <div class="panel-footer">
                      <div class="text-right">
                          <a href="@routes.Tickets.move(p.id)" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                          <a href="@routes.Tickets.delete(p.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          }
        </div> <!-- /.col-md-3 -->
        
        <div class="col-md-3">
          <!-- column header -->
          <div class="row">
            <h2 class="text-center">Done</h2>
            <hr />
          </div>        

          @for(p <- dones) {
          <!-- Tickets column -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>@p.title</h4>
                      <p class="text-muted">@p.description</p>
                  </div>
                  <div class="panel-footer">
                      <div class="text-right">
                        <a href="@routes.Tickets.delete(p.id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          }
        </div> <!-- /.col-md-3 -->
    </div> <!-- /.row -->
    
<!-- New Ticket Modal -->
<form action="@routes.Tickets.save(project.id)" method="POST" role="form">
<div class="modal fade" id="newTicketModal" tabindex="-1" role="dialog" aria-labelledby="newTicketLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newTicketLabel">New Ticket</h4>
      </div>
      <div class="modal-body">
        <input name="title" type="text" class="form-control" placeholder="Ticket Title" />
        <textarea name="description" class="form-control" placeholder="Description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</form>

}

