<div class="masthead">
            <h3 class="text-muted">
                <a href="@{Application.index}" class="text-muted">&{'application.name'}</a>
            </h3>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            #{if _projects.size>0}
            <div class="navbar-brand">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            #{if _project}${_project.title}#{/if}
                            #{else}&{'tracker.navbar.projects'}#{/else}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                        #{list items:_projects, as:'p'}
                            <li class="#{if _project && p.id==_project.id}active#{/if}">
                                <a href="@{Projects.overview(p.id)}">${p?.title}</a>
                            </li>
                        #{/list}
                            <li class="divider"></li>
                            <li class="">
                                <a href="@{Projects.add}"><strong>&{'tracker.navbar.newProject'}</strong></a>
                            </li>
                        </ul>
                    </li>
                 </ul>
            </div>
            #{/if}
            #{else}
                    <ul class="nav navbar-nav">
                        <li class="">
                            <button href="@{Projects.add}" class="btn btn-primary navbar-btn">
                                <strong>&{'tracker.navbar.newProject'}</strong>
                            </button>
                        </li>
                    </ul>
            #{/else}
          </div>
            
            <!-- Place everything within .navbar-collapse to hide it until above 768px -->
            <div class="navbar-collapse collapse">
                #{if _projects.size>0}
                <ul class="nav navbar-nav">
                    #{if _project}
                    <li class="">
                        <a href="#">Overview</a>
                    </li>
                    <li class="">
                        <a href="@{Projects.issues(_project.id)}">Issues</a>
                    </li>
                    <li>
                        <!--
                        <button data-target="@{Issues.add(_project?.id).remove("title").remove("description")}" class="button-anchor btn btn-success navbar-btn">
                            <strong>&{'tracker.navbar.newIssue'}</strong>
                        </button>
                        -->
                        <button data-toggle="modal" data-target="#newIssueModal" class="btn btn-success navbar-btn">
                            New Issue
                        </button>
                    </li>                    
                    #{/if}
                </ul>
                #{/if}

                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img style="border:1px; width:18px; height:18px; vertical-align:top;"/> Morteza
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- .nav-collapse -->
        </div> <!-- .container -->  
        </nav> <!-- .navbar -->
</div>
