<div class="modal fade" id="newIssueModal">
  <div class="modal-dialog">
    <div class="modal-content">
    <form method="POST" action="@{Issues.add}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Issue</h4>
      </div>
      <div class="modal-body">
		<div class="row">
		<div class="col-lg-12">
			  <div class="form-group">
			    <label for="inputTitle">Title</label>
				<input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title">
				<input type="hidden" name="projectId" value="${_activeProject.id}">
			  </div>
	
			  <div class="form-group">
			    <label for="inputDescription">Description</label>
				<textarea name="description" id="inputDescription" rows="5" class="form-control" placeholder="Description"></textarea>
			  </div>
			  
		</div>
		</div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
	</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
