#{extends 'layout.html' /}
#{set title:'Fuschia Tracker' /}

<div class="row">

	<!-- simple issue card with -->
	<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<span class="panel-title">Simple issue</span>
             <a class="btn btn-primary btn-xs pull-right">Details</a>
		</div>
        <div class="panel-body">
		Some description of the issue
		</div>
	</div>
	</div>
	
	<!-- issue card with image -->
	<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<span class="panel-title">Simple issue with image</span>
             <span class="pull-right">
            <a class="btn btn-xs btn-primary">Edit</a>
            <a class="btn btn-xs btn-info">Details</a>
            <a class="btn btn-xs btn-danger">Remove</a>
            </span>

			<span><small>Today - 08.34 AM</small></span>
        </div>
		<div class="panel-body">
		Some description of the issue card with image.
	    </div>
	</div>
	</div>

</div>