#{extends 'layout.html' /}
#{set title:'Fuschia Tracker' /}

<div class="row-fluid">

	<!-- simple issue card with -->
	<div class="card span4">
		<div class="card-heading simple">
			<h3>Simple Issue</h3>
		</div>


		<div class="card-body">
			Some description of the issue
		</div>

   

		<div class="card-actions">
			<a class="btn btn-info">Details</a>
		</div>
	</div>

	<!-- issue card with image -->
	<div class="card span4">
		<div class="card-heading image">
			<img />
			<div class="card-heading-header">
				<h3>Simple issue with image</h3>
				<span>Today - 08.34 AM</span>
			</div>
		</div>
	   
		<div class="card-body">
			Some description of the issue card with image<br />
		</div>
	
		<div class="card-actions">
			<a class="btn">Edit</a>
			<a class="btn btn-info">Details</a>
			<a class="btn btn-danger">Remove</a>
		</div>
	</div>

</div>