#{extends 'layout.html' /}
#{set title:'Fuschia Tracker' /}

<div class="row-fluid">

	<!-- simple issue card with -->
	<div class="col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Simple issue</h3>
		</div>

		Some description of the issue

		<div class="panel-footer">
			<a class="btn btn-info btn-small">Details</a>
		</div>
	</div>
	</div>
	
	<!-- issue card with image -->
	<div class="col-lg-4">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Simple issue with image<br /><small>Today - 08.34 AM</small></h3>
		</div>
	   
		Some description of the issue card with image<br />
	
		<div class="panel-footer">
			<a class="btn btn-small btn-primary">Edit</a>
			<a class="btn btn-info btn-small">Details</a>
			<a class="btn btn-danger btn-small">Remove</a>
		</div>
	</div>
	</div>

</div>