<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<meta name="description" content="Fuschia Tracker">
		<meta name="author" content="Morteza Ansarinia">
        
        <title>#{get 'title' /}</title>

        <link rel="stylesheet" href="@{'/public/css/bootstrap.css'}">
        <!-- <link rel="stylesheet" href="@{'/public/css/bootstrap-theme.css'}"> -->
        <!-- <link rel="stylesheet" href="@{'/public/css/bootstrap-rtl.css'}"> -->
        <link rel="stylesheet" href="@{'/public/css/tracker.css'}">
        #{get 'moreStyles' /}
		
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
    </head>
    <body>
		<div id="wrap">

    	<div class="container">
    	    #{tracker.navbar project:project, projects:projects /}
    	
	    	#{if flash.success}
	    	<div class="row">
				<div class=" col-lg-6 col-offset-3">
					<div class="alert alert-info alert-block">
						<a class="close" data-dismiss="alert" href="#">&times;</a>
						<p style="text-align:center">${flash.success}</p>
					</div>
				</div>
			</div>
			#{/if}
			#{if flash.error}
	    	<div class="row">
				<div class=" col-lg-6 col-offset-3">
					<div class="alert alert-danger alert-block">
						<a class="close" data-dismiss="alert" href="#">&times;</a>
					<p style="text-align:center">${flash.error}</p>
					</div>
				</div>
			</div>
			#{/if}
			
        #{doLayout /}
        </div> <!-- .container -->
        </div> <!-- #wrap -->
        
		<footer class="footer">
			<div class="container">
				<p class="text-muted small">&copy; 2013. Powered by 
				<a href="http://github.com/morteza/tracker">
                    <img src="@{'/public/img/favicon.png'}" style="height:18px;width:18px"/>
                </a>.
			</div>
		</footer>

		<!-- modals -->
		#{if project}
			#{tracker.newIssueModal activeProject:project /}
		#{/if}
		
        <script src="@{'/public/js/jquery.js'}"></script>
        <script src="@{'/public/js/bootstrap.js'}"></script>
        <script>
			$(".button-anchor").click(function(){
			window.location = $(this).data('target');
		});
		</script>
        #{get 'moreScripts' /}
    </body>
</html>

#{set 'moreScripts'}

#{/set}