@*
    @styles and @scripts can be used just like moreScripts and moreStyles. They are optional.
*@
@(title: String = "", styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@import play.i18n._
@import tags._

<!DOCTYPE html>
<html>
    <head>
        <title>@Messages.get("application.name") | @title</title>
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        @styles
    </head>
    <body>
        <div class="container">
          @header()
          @sidebar()
          @content
        </div>
	    @footer()
        </div> <!-- /.container -->
        <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
